@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
html{
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    background-color: #132c33;
    color: #f9d676;
    text-align: center;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Eagle Lake', cursive;
    font-size: 4rem;
}


/* ============ Student code ============= */

body{
    background-image:url("images/wallpaper-bg.jpg");
    background-position:top center;
}

img{
    background-color:#2e1414;
    height:380px;
    width:auto;
    border:ridge 10px #af8b2b;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    box-shadow:10px 15px 20px 5px black;
}

h1{
    margin:40px auto 50px auto;
    padding:5px 50px 15px 50px;
    background-color:#132c33;
    text-shadow:10px 15px 20px black;
}